# API
NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://routeflow:routeflow@localhost:5432/routeflow
REDIS_URL=redis://localhost:6379
JWT_SECRET=altere-este-segredo-com-no-minimo-16-caracteres

# Postgres / PostGIS (docker-compose)
POSTGRES_USER=routeflow
POSTGRES_PASSWORD=routeflow
POSTGRES_DB=routeflow
POSTGRES_PORT=5432

# Redis (docker-compose)
REDIS_PORT=6379

# Web
WEB_API_URL=http://localhost:3000
