# Dependências
node_modules/
.pnpm-store/

# Build
dist/
build/
out/
*.tsbuildinfo

# Angular
.angular/
.cache/

# Go
bin/
*.exe

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/
*.swp

# Testes/cobertura
coverage/
.nyc_output/
